/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/pink-bluegrey.css";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.nav-list {
  list-style-type: none;
  display: flex;
  margin: 0;
}
.nav-list li {
  padding: 5px 10px;
  align-self: center;
}
a,
a:hover {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  outline: none;
}
a .material-icons,
a:hover .material-icons {
  margin-right: 6px;
}
button {
  outline: none;
}
.main-container {
  margin-top: 20px;
}
th.mat-sort-header-sorted {
  color: black;
}
.full-width {
  width: 100%;
}
.center {
  text-align: center;
}
.dialog-footer {
  display: flex;
  justify-content: center;
}
.dialog-footer button {
  margin: 5px;
}
table {
  width: 100%;
}
th.mat-sort-header-sorted {
  color: black;
}
